/* Googleフォントからインポート */
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+1p&display=swap");

/* body共通 */
body {
    font-family: "Inter", sans-serif;
    color: #000;
}

/* 認証後のページ背景色（verify_emailページ以外） */
.with-bg {
    background-color: #e8e8e8;
}
